.modalDialogcustom
    .shadow_popap
    .contentpopap 
        .wrapper
            .contentpopap__head
                .contentpopap__title
                    span Leave your contact details.
                button.contentpopap__close
                    svg(class="cloce")
                        use(xlink:href="./images/sprite/sprite.svg#close")
            form.form
                .form__content
                    .form__left
                        input.i(type="text" placeholder="Your Name" required)
                        input.i(type="email" placeholder="Your Email" required)
                        input.i(type="tell" placeholder="Your Phone" required)
                        
                    .form__right
                        textarea(placeholder="Your Message")

                .form__button
                    button.button.button2(type="submit") Send


