.modalDialogcustom
    .shadow_popap
    .contentpopap 
        .wrapper
            .contentpopap__head
                .contentpopap__logo
                    img(src="./images/logo.png", alt="")
                .contentpopap__title
                    span Apply Now!
                .contentpopap__cancel
                    img(src="./images/cancel.png", alt="")
            form.form
                .form__content
                    .form__left
                        input(type="text" placeholder="Имя*" required)
                        input(type="email" placeholder="E-mail*" required)
                        input(type="text" placeholder="Фамилия*" required)
                        input(type="tell" placeholder="Телефон" required)
                        label.file_download
                            input(type="file" placeholder="Приложите резюме*" required)

                            //- div.bord 
                            span Приложите резюме*
                            div Файл не выбран
                        
                    .form__right
                        textarea(placeholder="Расскажите несколько слов о себе")

                .form__button
                    button.button(type="submit") ОТПРАВИТЬ РЕЗЮМЕ


