extends ../template

block varibles
    - var title = "OUR PROCESS"

block content
   
    .content

        section.sect1
            .wrapper
                .sect1__content
                    .sect1__title
                        span our<br> PROCESS

                    .sliderwrapper__left
                        button.swiper-button-prev
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#arrow_up")
                        ul.swiper-pagin
                        button.swiper-button-next
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#arrow_up")
                    
                    .sect1__slider
                        .sliderwrapper                            
                            .sliderwrapper__right
                                button.swiper-button-prev
                                    span previous process
                                    svg(class="")
                                        use(xlink:href="./images/sprite/sprite.svg#arrow_up")

                                .sliderwrapper__content
                                    .slider
                                        .swiper-container
                                            .swiper-wrapper
                                                .swiper-slide
                                                    .slider__top
                                                        .slider__left
                                                            .slider__blockfoto(style="background-image: url(../images/slide.png);")
                                                            
                                                        .slider__right
                                                            .slider__title
                                                                span Active Proсess
                                                            .slider__subtitle
                                                                span Red and rounded
                                                        
                                                    .slider__bottom
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.

                                                .swiper-slide
                                                    .slider__top
                                                        .slider__left
                                                            .slider__blockfoto(style="background-image: url(../images/slide.png);")
                                                            
                                                        .slider__right
                                                            .slider__title
                                                                span Active Proсess
                                                            .slider__subtitle
                                                                span Red and rounded
                                                        
                                                    .slider__bottom
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.


                                                .swiper-slide
                                                    .slider__top
                                                        .slider__left
                                                            .slider__blockfoto(style="background-image: url(../images/slide.png);")
                                                            
                                                        .slider__right
                                                            .slider__title
                                                                span Active Proсess
                                                            .slider__subtitle
                                                                span Red and rounded
                                                        
                                                    .slider__bottom
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.

                                                
                                                .swiper-slide
                                                    .slider__top
                                                        .slider__left
                                                            .slider__blockfoto(style="background-image: url(../images/slide.png);")
                                                            
                                                        .slider__right
                                                            .slider__title
                                                                span Active Proсess
                                                            .slider__subtitle
                                                                span Red and rounded
                                                        
                                                    .slider__bottom
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.


                                                .swiper-slide
                                                    .slider__top
                                                        .slider__left
                                                            .slider__blockfoto(style="background-image: url(../images/slide.png);")
                                                            
                                                        .slider__right
                                                            .slider__title
                                                                span Active Proсess
                                                            .slider__subtitle
                                                                span Red and rounded
                                                        
                                                    .slider__bottom
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.
                                                
                                                
                                button.swiper-button-next
                                    span next process
                                    svg(class="")
                                        use(xlink:href="./images/sprite/sprite.svg#arrow_up")
                                            
                               
                    
                    .sect1__socials
                        button.arr_top
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#arrow_up")
                        a(href="")
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#mail")
                        a(href="")
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#be")
                        a(href="")
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#inst")
                        a(href="")
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#fb")
                    
                    
        section.sect2
            .wrapper
                .sect2__content
                    .sect2__block
                        .sect2__left
                            .sect2__desc
                                span Next:
                            .sect2__title
                                span We also do 3d models
                            
                        .sect2__right
                            .sect2__button
                                button.button1 check out our 3d services
                 

        section.sect3
            .boottomcontent 
                .wrapper
                    .boottomcontent__top
                        .boottomcontent__title
                            span Want to know more about our services? Interested in started a project?
                        .boottomcontent__button
                            button.button2  Let’s talk
            .boottomcontent__bottom
                .wrapper
                    .block
                        span Copyright ©  
                            span WULF ARTS inc.
                    .block.block_abs
                        a(href="#")
                            svg(class="pint")
                                use(xlink:href="./images/sprite/sprite.svg#pint")
                        a(href="#")
                            svg(class="bol")
                                use(xlink:href="./images/sprite/sprite.svg#bol")
                        a(href="#")
                            svg(class="inst")
                                use(xlink:href="./images/sprite/sprite.svg#inst")
                        a(href="#")
                            svg(class="be")
                                use(xlink:href="./images/sprite/sprite.svg#be")
                        a(href="#")
                            svg(class="fb")
                                use(xlink:href="./images/sprite/sprite.svg#fb")
                    .block
                        a(href="#") Info@wulfinc.com
                
            footer.footer
                .wrapper
                    .footer__content
                        a(href="#")
                            span  Made by NEXTPAGE
                            img(src="./images/logo.png", alt="")
                            img(src="./images/logo_w.png", alt="")

            include ../common/popaps.pug      
