extends ../template

block varibles
    - var title = "OUR PROCESS"

block content
   
    .content

        section.sect1
            .wrapper
                .sect1__content
                    .sect1__title
                        span our<br> PROCESS

            
                    .sliderwrapper__left
                        button.swiper-button-prev
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#arrow_up")
                        ul.swiper-pagin
                        button.swiper-button-next
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#arrow_up")
                    
                    .sect1__slider
                        .sliderwrapper                            
                            .sliderwrapper__right
                                button.swiper-button-prev
                                    span previous process
                                    svg(class="")
                                        use(xlink:href="./images/sprite/sprite.svg#arrow_up")

                                .sliderwrapper__content
                                    .slider
                                        .swiper-container
                                            .swiper-wrapper
                                                .swiper-slide
                                                    .slider__left
                                                        .slider__blockfoto
                                                            img(src="./images/slide.png", alt="")
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.

                                                    .slider__right
                                                        .slider__title
                                                            span Active Proсess
                                                        .slider__subtitle
                                                            span Red and rounded

                                                .swiper-slide
                                                    .slider__left
                                                        .slider__blockfoto
                                                            img(src="./images/slide.png", alt="")
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.

                                                    .slider__right
                                                        .slider__title
                                                            span Active Proсess
                                                        .slider__subtitle
                                                            span Red and rounded

                                                .swiper-slide
                                                    .slider__left
                                                        .slider__blockfoto
                                                            img(src="./images/slide.png", alt="")
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.

                                                    .slider__right
                                                        .slider__title
                                                            span Active Proсess
                                                        .slider__subtitle
                                                            span Red and rounded

                                                .swiper-slide
                                                    .slider__left
                                                        .slider__blockfoto
                                                            img(src="./images/slide.png", alt="")
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.

                                                    .slider__right
                                                        .slider__title
                                                            span Active Proсess
                                                        .slider__subtitle
                                                            span Red and rounded

                                                .swiper-slide
                                                    .slider__left
                                                        .slider__blockfoto
                                                            img(src="./images/slide.png", alt="")
                                                        .slider__desc
                                                            p Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.

                                                    .slider__right
                                                        .slider__title
                                                            span Active Proсess
                                                        .slider__subtitle
                                                            span Red and rounded
                                                
                                                    
                                                

                                button.swiper-button-next
                                    span next process
                                    svg(class="")
                                        use(xlink:href="./images/sprite/sprite.svg#arrow_up")
                                            
                               
                    
                    .sect1__socials
                        button.arr_top
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#arrow_up")
                        a(href="")
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#mail")
                        a(href="")
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#be")
                        a(href="")
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#inst")
                        a(href="")
                            svg(class="")
                                use(xlink:href="./images/sprite/sprite.svg#fb")
                    
                    

       
        section.sect2
                
                            

                        
                                    

        section.sect3
                            
                        
                      

        

                            
                            

                      
       

      
        footer.footer
            .wrapper
                .footer__content
                    
