.sliderwrapper{
    display: flex;
    height: rem(910);
    width: 100%;
    position: relative;

    &__content{
        height: 100%;

    }

    &__right{
        width: rem(1160);
        height: rem(910);
        box-shadow: 0 rem(30) rem(120) rgba(0, 0, 0, 0.2);
        background-color: $white;
        position: relative;
        z-index: 300;
        position: absolute;
        top: rem(86);
        right: rem(98);

        .swiper-button-prev, .swiper-button-next{
            position: absolute;
            width: rem(230);
            height: rem(150);
            border: none;
            background: transparent !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: rem(41);
            right: 0;
            outline: none;
            span{
                color: #4d4d4d;
                font-family: cabin;
                font-size: rem(13);
                font-weight: 400;
                line-height: rem(11.9);
                text-transform: uppercase;
                letter-spacing: rem(2.35);
            }
            svg{
                width: rem(9);
                height: rem(30);
                fill: #c1c1c1;
            }
        }

        .swiper-button-prev{
            &:hover{
                svg{
                    fill: #c68a43;
                }
            }
        }

        .swiper-button-next{
            bottom: 0;
            &:hover{
                svg{
                    fill: #c68a43;
                }
            }
        } 
    }
} 

.sliderwrapper__left{
    width: rem(374);
    height: rem(910);
    padding-top: rem(332);
    position: absolute;
    z-index: 500;

    .swiper-button-prev, .swiper-button-next{
        margin-left: rem(6);
        width: rem(75);
        outline: none;
        border: none;
        background: transparent;
        svg{
            width: rem(9);
            height: rem(27);
            fill: #c1c1c1;
        }
    }

    .swiper-button-prev{
        margin-bottom: rem(31);
        &:hover{
            svg{
                fill: #efbd6b;
            }
        }
    }
    
    .swiper-button-next{
        margin-top: rem(30);
        svg{
            position: relative;
            transform: rotate(-180deg);
        }
        &:hover{
            svg{
                fill: #efbd6b;
            }
        }
    }

    .swiper-pagin{
        display: flex;
        flex-direction: column;

        li{
            background: transparent !important;
            width: auto !important;
            height: auto !important;
            padding-left: rem(133);
            opacity: 1 !important;
            height: rem(80) !important;
            display: flex;
            align-items: center;
            outline: none;
            position: relative;
            span{
                opacity: 0.6;
                color: #353535;
                font-family: cabin;
                font-size: rem(19);
                font-weight: 400;
                line-height: rem(32);
                letter-spacing: rem(1.87);
            }
            &:before{
                width: rem(81);
                height: rem(75);
                position: absolute;
                left: rem(6);
                border-left: 2px solid #ebebea;
                transform: rotate(-90deg);
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 90px rgba(36, 33, 31, 0.15);
                background-color: $white;
                color: rgba(40,40,40,.5);
                font-family: circe;
                font-size: rem(21);
                font-weight: 700;
                line-height: rem(14);
            }
            &:first-child:before{
                content: "01";
            }
            &:nth-child(2):before{
                content: "02";
            }
            &:nth-child(3):before{
                content: "03";
            }
            &:nth-child(4):before{
                content: "04";
            }
            &:last-child:before{
                content: "05";
            }
        }

        .swiper-pagination-bullet-active{
            span{
                opacity: 0;
            }
            &:before{
                color: #f9c97b;
                border-top: rem(8) solid #f9c97b;
                height: rem(84);
                left: rem(2);
            }
            &:after{
                content: "";
                width: rem(326);
                height: rem(2);
                background-color: #f4c373;
                position: absolute;
            }
        }        
    }
}

.slider{
    .swiper-slide{
        display: flex;
        flex-direction: column;
        padding: rem(286) rem(94) rem(154) rem(140);
    }

    &__top{
        display: flex;
    }

    &__bottom{
        width: rem(560);;
    }
    
    &__left{
        width: rem(568);
    }

    &__right{
        padding-left: rem(40);
        padding-top: rem(112);
    }

    &__blockfoto{
        width: rem(560);
        height: rem(280);
        margin-bottom: rem(74);
        background-size: cover;
    }

    &__title{
        margin-bottom: rem(18);
        span{
            color: #282828;
            font-size: rem(48);
            font-weight: 700;
            line-height: rem(14);
        }
    }

    &__subtitle{
        span{
            color: #232323;
            font-size: rem(23);
            font-weight: 400;
            line-height: rem(14);
        }
    }

    &__desc{
        p{
            color: #353535;
            font-family: cabin;
            font-size: rem(19);
            font-weight: 400;
            line-height: rem(32);
            letter-spacing: rem(0.47);
        }
    }
}

@media screen and (max-width:769px){

    .sliderwrapper{
        height: auto;
        &__right{
            position: static;
            width: 100%;
            height: auto;
            box-shadow: none;
            .swiper-button-prev, .swiper-button-next{
                display: none;
            }
        }
    }

    .slider{
        &:before{
            content: "";
            width: 1px;
            height: 50%;
            background-color: rgba(0,0,0, 0.08);
            position: absolute;
            top: -50%;
            right: 0;
        }

        &:after{
            content: "";
            width: 1px;
            height: 50%;
            background-color: rgba(0,0,0, 0.08);
            position: absolute;
            top: -50%;
            left: 0;
        }

        .swiper-slide{
            padding: 0;
        }

        &__top{
            flex-direction: column;
        }

        &__bottom{
            width: 100%;
        }

        &__left{
            width: 100%;
            margin-bottom: 77px;
            position: relative;
        }

        &__right{
            padding: 0;
        }

        &__blockfoto{
            width: 100%;
            height: 75vw;
            background-image: url(../images/slide_mob.png) !important;
            margin-bottom: 0;
        }

        &__title{
            margin-bottom: 1px;
            span{
                font-size: 24px;
                line-height: 14px;
            }
        }

        &__subtitle{
            margin-bottom: 32px;
            span{
                font-size: 12px;
                line-height: 14px;
            }
        }

        &__desc{
            p{
                line-height: 20px;
                font-size: 12px;
                letter-spacing: 0.3px;
            }
        }
    }

    .pagination-block{
        top: calc(75vw + 94px);
        width: 100%;
        padding: 0;
        height: 44px;

        .swiper-button-prev{
            margin: 0;
            transform: rotate(-90deg);
            width: 44px;
            position: absolute;
            left: -8px;
            bottom: 9px;
            display: flex;

        }

        .swiper-button-next{
            margin: 0;
            transform: rotate(-90deg);
            width: 44px;
            position: absolute;
            right: -8px;
            bottom: 9px;
            display: flex;
        }

        .swiper-pagin{
            flex-direction: row;
            position: relative;
            li{
                padding: 0 !important;
                position: static;
                
                span{
                    display: none;
                }

                &:before{
                    width: 40px;
                    height: 40px;
                    top: 4px;
                    font-size: 12px;
                    line-height: 8.4px;
                }

                &:after{
                    display: none;
                }

                &:first-child:before{
                    left: calc(50% - 80px);
                    transform: translateX(-50%);
                    border-left: none;
                }
                &:nth-child(2):before{
                    left: calc(50% - 40px);
                    transform: translateX(-50%);
                }
                &:nth-child(3):before{
                    left: 50%;
                    transform: translateX(-50%);
                    
                }
                &:nth-child(4):before{
                    left: calc(50% + 40px);
                    transform: translateX(-50%);
                }
                &:last-child:before{
                    left: calc(50% + 80px);
                    transform: translateX(-50%);
                }
            }

            .swiper-pagination-bullet-active:before{
                border-bottom: 4px solid #f9c97b !important;
                left: 0;
                border-top: none;
                height: 44px;
            }
        }
    }
}

