.button{
    height: rem(50);
    width: rem(181);
    border: 1px solid #cbcbcb;
    font-size: rem(16);
   
    font-weight: 600;
    border-radius: rem(25);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
    &_main{
        width: rem(250);
        
        color: $white;
        border: none;
        text-transform: uppercase;
        font-weight: 500;
    }
    &_white{
        background-color: $white;
       
        width: rem(199);
        font-weight: 500;
    }
}

@media screen and (max-width:769px){
    .button{
        height: 40px;
        font-size: 14px;
    }
}